body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.increase-button {
  padding: 5px 10px;
  background-color: #28a745; /* Green color for increase button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.increase-button:hover {
  background-color: #218838; /* Darker green color on hover */
}

.decrease-button {
  padding: 5px 10px;
  background-color: #dc3545; /* Red color for decrease button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.decrease-button:hover {
  background-color: #c82333; /* Darker red color on hover */
}
